<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ELIWebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://elitest.azurewebsites.net/ELIWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ELIWebServiceSoap"
                contract="ServiceReference1.ELIWebServiceSoap" name="ELIWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>